@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Dosis";
    height: 100%;
}

a{  
    text-decoration: none;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, rgb(1, 198, 212), rgb(11, 78, 117) 50%, rgb(0, 65, 82) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    }
    
a:hover{
    background-position: 0 100%;
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Navbar
 */

#author-name {
    font-size: 34px;
    color: #272727;
    display: inline-block;
}
.navbar {
    padding: 20px 0 20px 0;
    text-align: center;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 0px 0 0px 0;
    margin-left: 0px;
}
.nav-list {
    list-style-type: none;
    margin: 0 20px 0 10px;
    float: center;
    position: relative;
    font-size:24px;
    font-weight: 600;
}
.alignable {
    display: inline-block;
}

.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}
.pull-center{
    @extend .alignable;
    float: center;
}

/* Divs */

.container {
    //max-width: $max-width;
    max-width: 60%;
    margin: auto;
}
.wrapper {
    min-height: 100%;
    background-color: rgba(250, 255, 255, 0.904);
}

/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
	.navbar {
		text-align: center;
		padding: 50px 0px 0px 0px;
	}
	#author-name {
		width: 100%;
		float: center;
	}
	#navlist {
		padding: 10px 0 10px 0;
		margin: 0;
		display: block;
		float: none;
		text-align: center;
		width: 100%;
	}
	#navlist li.alignable {
		display: inline-block;
	}
	#navlist li.pull-left {
		float: none;
	}
	#navlist li.nav-list {
		margin: 0;
	}
}


@import "typography";
@import "tables";


// adnd additions

#banner{
    background-image: linear-gradient(to bottom, rgba(0, 58, 58, 0.733), rgb(234, 255, 255)), url("../images/background.jpeg");
    width: 100%;
    height: 300px;
    background-size: cover;
}





